ul.comment-thread
{
	padding-left: 36px;
}

ul.comment-thread li.comment
{
	list-style-type: none;
}

ul.comment-thread li.comment div.comment-head
{
	padding: 2px;
}

ul.comment-thread li.comment div.comment-text
{
	padding-left: 15pt;
}

.comment-avatar
{
	padding: 0;
	margin: 3px;
	clear: left;
	float: left;
	margin-right: 1em;
	display: block;
	width: 32px;
	height: 32px;
	border-radius: 3px 3px 3px 3px;
}
.comment-thread .comment-avatar img
{
	display: inline;
	padding: 0;
	margin: 0;
	border: 0;
	width: 32px;
	height: 32px;
	border-radius: 3px 3px 3px 3px;
}

div.comment-timestamp
{
	display: block;
	font-weight: bold;
	color: #252;
}

.comment-title
{
	display: none;
	display: inline;
	font-weight: bold;
	padding-left: 1em;
	font-style: italic;
	color: #822;
}
.comment-author
{
	display: inline;
	font-weight: bold;
	color: blue;
}

/* Theme styles */

ul.comment-thread li.comment div.comment-head
{
	background: #ddf;
	border-bottom: 1pt solid #ccf;
}

.comment-message
{
	padding: 2ex;
	background-color: #cc9;
}

.comment-text
{
	border-left: #aaa 2pt solid;
}

.comment-form-submit
{
}
.comment-form-content
{
	float: left;
}
.comment-form-identify
{
}

.comment-form .comment-form-text textarea
{
	width: 100%
}

.comment-form textarea,
.comment-form .comment-form-title input,
.comment-form .comment-form-name input,
.comment-form .comment-form-email input,
.comment-form .comment-form-website input
{
	max-width: 95%;
	margin: 2px;
}
.clear
{
	clear: both;
}

.comment-form
{
	margin-bottom: 2ex;
	padding-left: 72px;
}
@media screen and (max-width: 1024px)
{
	.comment-form
	{
		padding-left: inherit;
	}
	ul.comment-thread
	{
		padding-left: 10px;
	}

}



